<h2>
  <span id="vote_score">Score: <%= @story.votes.size %></span>
  <%= @story.name %>
</h2>
<ul id="vote_history">
  <% if @story.votes.empty? %>
    <em>No votes yet!</em>
  <% else %>
    <%= render partial:'votes/vote', collection: @story.votes.latest %>
  <% end %>
</ul>
<p><%= link_to @story.link, @story.link %></p>
<div id="vote_form">
  <%= form_for [@story, Vote.new], remote: true do %>
    <!-- Need this tag because of cases where JS is off -->
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <%= submit_tag 'Vote for it' %>
  <% end %>
</div>